

header {
    background-image: url(https://handluggageonly.co.uk/wp-content/uploads/2018/02/Hand-Luggage-Only-8-5.jpg);
    background-size: 1300px 500px;
    color:black;
    background-repeat: no-repeat;
    text-align: center;
    background height: 500px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 50px;
    font-size: 20px;

}

h3 {
    text-align: center;
}

h1 {
    text-emphasis: bold;
    
}

nav {
    float: right;
    margin-right: 50px;
    color: white;
}

nav :hover {
    color:white;

}

nav :active {
    color: white;
}

ul {
    margin-bottom: 100px;
    padding-top: 0px;
}

nav li {
    display: inline-block;
    margin-left: 100px;
    padding-top: 25px;
    color: white;
}

.SearchBar {
    color: white;
    float: right;


}

.Quote {
    background-color: white;
    text-align: center;
    font-size: 15px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0px 30px 20px 30px;
    
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

main {
    background-color: aliceblue;
}