/*Globals*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

body {
    font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.container-fluid {
  padding: 10vh 0 10vh 0; /*top and bottom padding */
  overflow: hidden;
}

.quote {
  height: 100%;
}

.blog-footer {
    background: #DCDCDCf;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/* Page Specific CSS */

.parallax-window {
    max-height: 65vh;
    min-height: 400px;
    background: transparent;
    margin-left: -22vw;
    margin-right: -22vw;
}

#header-image {
    padding-top: 0px;
}

#header-text {
    color: white;
    padding-top: 170px;
}

.site-section {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 4px;
  overflow: hidden;
}

.article > img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.post-category {
  border-radius: 5px;
  margin: 5px;
}

.grid-container {
  height: 100%;
  max-width: 1250px;
  width: 100%;
  padding: 10px 0 10px 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 10%;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas: "article2 article2 article1 article1" "article3 article4 article1 article1";
}

.article {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: end;
  transition: transform .2s;
}

.article-link {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  /* align-items: flex-end; */
}

.article-link:hover {
  text-decoration: none;
}

.article-link > span {
  align-self: flex-start;
  justify-self: flex-start;
  font-size: 90%;
  padding: 2px;
}

.text > span {
  color: darkgray;
  font-size: 70%;
}

.article1 { 
    grid-area: article1;
    background-image: url('https://images.unsplash.com/photo-1533579436102-fcc5a403c554?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    background-color: hsla(0, 0, 0, 0.7);
    background-blend-mode: screen;
    color: lightgrey;
}

.article2 { 
    grid-area: article2;
    background-image: url('https://images.unsplash.com/photo-1489447068241-b3490214e879?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
   }

.article3 { 
    grid-area: article3;
    background-image: url('https://images.unsplash.com/photo-1454724985382-34190e93f08d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80'); 
  }

.article4 { 
    grid-area: article4;
    background-image: url('https://images.unsplash.com/uploads/1413142095961484763cf/d141726c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
   }


.tall {
  grid-row: span 2;
  grid-column: span 2;
}

.wide {
  grid-column: span 2;
}

.text {
  padding: 10px;
}

#attractions {
  text-align: center;
  padding-bottom: 10px;
}

#attractions-title {
  padding: 5px 0 5px 0;
}